<div class="row">
    <div class="d-none d-md-block col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Back to Home</a>
                </li>
                <li class="breadcrumb-item" *ngFor="let row of breadcrumbs">
                    <a [href]="row.path">{{row.name}}</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="col-12">
        <ul class="dir_list">
            <li *ngFor="let row of topics">
                <a routerLink='/{{row.path}}'>{{row.name}}</a>
            </li>
        </ul>
    </div>
</div>