<div class="topbar"></div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <a href="/"><img src="./assets/noob_logo.png" alt="Noob Docs" /></a>
                </div>
                <div class="slogan">The Simple Docs...</div>

                <div class="row">
                    <div class="col-6">
                        <div class="headLinks">
                            <a href="/"><i class="fas fa-home"></i> Home</a>
                            <a href="/Guides"><i class="fas fa-book"></i> Guides</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="sidelinks">
                            <a class="btn btn-outline-primary btn-sm" href="https://twitter.com/th3n00bc0d3r"><i class="fab fa-twitter"></i> Follow @th3n00bc0d3r</a>
                            <a class="btn btn-outline-success btn-sm" href="https://github.com/th3n00bc0d3r/noobdocs"><i class="fab fa-github"></i> NoobDocs@Github</a>
                        </div>
                    </div>
                </div>
                <!-- 
                <div>
                        <div class="github-btn mb-2">
                                <a class="github-button" href="https://github.com/xriley/PrettyDocs-Theme" data-size="large" aria-label="Star xriley/PrettyDocs-Theme on GitHub">Star</a>
                                <a class="github-button" href="https://github.com/xriley" data-size="large" aria-label="Follow @xriley on GitHub">Follow @xriley</a>
                            </div>                    
                </div>
                -->
            </div>
        </div>
    </div>
</div>
