.topbar {
    height: 7px;
    background-color: rgba(14, 151, 14, 0.61);
}

.header {
    background-color: #494d55;
    color: white;
    height: 150px;
}

.logo {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    img {
        width: 100%;
    }
}

.slogan {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.headLinks {
    margin-top: 24px;
    a {
        color: white;
        font-size: 20px;
        margin-right: 20px;
        i {
            margin-right: 6px;
        }
    }    
}

.sidelinks {
    text-align: right;
    margin-top: 24px;
    a {
        margin-left: 10px;
    }
}

.navbar {
    border-top: 7px solid rgba(14, 151, 14, 0.61);

    .navbar-brand {
        img {
            width: 180px;
            margin-top: -5px;
        }
    }

}

.navbar-dark .navbar-nav .nav-link {
    i {
       width: 25px;
       text-align: center;
    }
}

.myRightMenu {
    li {
        a {
            margin-left: 20px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .myRightMenu {
        .nav-item {
            text-align: center;
            a {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }    
}
